<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBADdmVIMdlJKivwH2x5phNb6-17D47B5E</string>
	<key>GCM_SENDER_ID</key>
	<string>535809146610</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eComm</string>
	<key>PROJECT_ID</key>
	<string>easyshopping-a3487</string>
	<key>STORAGE_BUCKET</key>
	<string>easyshopping-a3487.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535809146610:ios:b75ee3316311f091f15a6b</string>
</dict>
</plist>